﻿@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}

@*<h2>ProductTable</h2>*@

<div>
    <form method="post">
        <input id="searchTxt" name="Search" />
        <button type="button" id="btnSubmit">Search</button>
        <button>New</button>
    </form>
</div>

<div>
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

    <!-- JS --> 



<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>

        $(document).ready(function () {

            $('#btnSubmit').click(function () {

                //alert("You have been clicked");
                var searchValue = $("#searchTxt").val();

                //alert(searchValue);

                $.ajax({
                    type: "GET",
                    url: '/Product/ProductTable',
                    data: {
                       search: searchValue
                    }
                })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        })

        });

        //alert("You have been clicked");
</script>